@CHARSET "ISO-8859-1";

#resultado 
	{
	border-collapse: collapse;
	border: 5px;
	border-color: green;
	
	}
	
th
	{
	background-color: #63b559;
	color: black;
	padding: 50px 20px 50px 80px;
	}	

td
	{
	text-align: center;
	padding: 5px 3px 5px 8px;
	}
	
tr:nth-child(even) {background-color: #ffff59}